$primary-color: #6d7993;
$secondary-color: #D5D5D5;
$accent-color: #c5966c;
$link-hover-color: #000;
$font-family: 'Open Sans', sans-serif;

$logo-width: 90px; // Logo genişliği
$logo-height: 90px; // Logo yüksekliği
$logo-margin-left: 1rem; // Logo'nun solundaki boşluk

$navbar-padding-horizontal: 1rem; // Navbar'ın sağ ve sol padding'i

$nav-link-margin-right: 1rem; // Nav linkler arası boşluk
$nav-collapse-margin-right: 1rem; // Navbar.Collapse'ın sağdaki boşluğu