$navbar-bg-color: #f8f9fa; // Navbar arka plan rengi
$nav-link-color: #555; // Nav link rengi
$nav-link-hover-color: #000; // Nav link hover rengi
$nav-button-bg-color: #007bff; // Nav buton arka plan rengi
$nav-button-hover-bg-color: #0056b3; // Nav buton hover arka plan rengi