@import './navbarVariables';

.custom-navbar {
  background-color: $primary-color;
  padding-left: $navbar-padding-horizontal;
  padding-right: $navbar-padding-horizontal;

  .navbar-brand {
    margin-left: $logo-margin-left; // Logo'nun solundaki boşluk

    img {
      width: $logo-width;
      height: $logo-height;
      background-color: $primary-color;
    }

    &:hover {
      color: $link-hover-color;
    }
  }

  .navbar-toggle {
    border-color: $secondary-color;
  }

  .navbar-collapse {
    margin-right: $nav-collapse-margin-right; // Navbar.Collapse'ın sağdaki boşluğu

    .nav-link {
      color:$secondary-color;
      margin-right: $nav-link-margin-right; // Nav linkler arası boşluk

      &:last-child {
        margin-right: 0; // Son elemanın sağında boşluk olmamasını sağlıyoruz
      }

      &:hover {
        color: $link-hover-color;
      }
    }

    .nav-button {
      background-color: $accent-color;
      border: none;

      &:hover {
        background-color: darken($accent-color, 10%);
      }
    }
  }
}