@import "../pages/AdminPage/adminHomePageVariables";

.modal {
    font-family: $font-family;

    .modal-button {
        background-color: $button-bg-color;
        color: $button-text-color;
        margin-right: 1rem;

        &:hover {
            background-color: $button-hover-bg-color;
        }
    }

    /* .modal-input {
        // Giriş alanları için özel stiller
    } */

    // Diğer modal özel stilleri...
}