$services-background-color: #f4f4f9; // Daha yumuşak bir arka plan
$services-card-color: #ffffff; // Kartların arka plan rengi
$services-title-color: #5d1049; // Başlık rengi
$services-description-color: #6c757d; // Açıklama metni rengi
$services-card-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); // Kart gölgesi