@import './aboutPageVariables';

.about-page {
    font-family: $font-family;
    color: $primary-color;
    background-color: $background-color;
    padding: 2rem;

    h2 {
        margin-bottom: 1rem;
        color: $primary-color;
    }

    p {
        line-height: 1.6;
    }

    .centered-image {
        display: block;
        margin-left: auto;
        margin-right: auto;;
    }


    // Daha fazla stil ekleyebilirsiniz.
}