@import 'teamPageVariables';

.team-page {
    font-family: $font-family;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 2rem 0;

    .team-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;

        @media (max-width: $breakpoint-md) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
    }

    .team-member {
        background-color: #fff; // Kart arka plan rengi
        padding: 1rem;
        text-align: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        img {
            max-width: 100%; // Resmin kartın genişliğine sığmasını sağlar
            height: auto;
            border-radius: 50%; // Resmi daire şeklinde yapar
        }

        h3 {
            margin-top: 0.5rem;
        }

        p {
            margin-top: 0.5rem;
        }
    }
}
