// Renkler ve diğer değişkenler
$primary-color: #6D7993; // Sayfa için ana renk
$secondary-color: #D5D5D5; // İkincil renk
$font-family: 'Open Sans', sans-serif; // Font ailesi
$card-bg-color: #f8f8f8; // Kartların arka plan rengi

// Responsive tasarım için breakpointler
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;