// Renkler ve diğer değişkenler
$primary-color: #6D7993;
$secondary-color: #D5D5D5;
$accent-color: #E6E2D3;
$font-family: 'Open Sans', sans-serif;

// Slider için değişkenler
$slider-height: 512px;

// Hizmetler ve Yorumlar bölümü için değişkenler
$service-card-bg: $secondary-color;
$testimonial-bg: $accent-color;