@import "./loginRegisterPageVariables";

.login-register-page {
    padding: 20px 0;

    .login-section,
    .register-section {
        padding: 20px;
        border: 1px solid $secondary-color;
        margin-bottom: 20px;

        h2 {
            margin-bottom: 20px;
        }

        .forgot-password-link {
            margin-top: 10px;
        }
    }
}